body{
    font-family: Arial;
    background-color: #e4e4e4;
}

form{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
}

h1{
    text-align: center;
}

fieldset{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-top: 10px;
}

input, select, textarea{
    width: 100%;
    margin-top: 5px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: royalblue;
    color: white;
    border: none;
}