body {
    background-color: rgba(23, 122, 214, 0.767);
}

h1 {
    color: rgb(168, 9, 9);
    text-align: center;
    font-size: xxx-large;
}

p {
    color: rgb(255, 255, 255);
    font-size: x-large;
}